@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --primary-color: #617860;
    --secondary-color: #bec5be;
    --accent1-color: #ebebeb;
    --accent2-color: #2c2c2b;

    --primary-color-dark: #363b30;
    --secondary-color-dark: #2e2f2c;
    --accent1-color-dark: #1d2019;
    --accent2-color-dark: #fff;
    --accent3-color-dark: #c8cdbf;
    --accent4-color-dark: #444f38;
  
    --heading-font: "Montserrat";
    --paragraph-font: "Assistant", Helvetica, sans-serif;

    --shadow: 0px 5px 18px -4px rgba(26, 30, 29, 0.65);
    --shadow-dark: 0px 5px 18px -4px rgba(0, 0, 0, 0.5);
    --radius: 5px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
    margin: 10px;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 20px;
    height: 80px;
    margin-bottom: 0;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.logo-title-wrapper {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    margin-top: -5px;
    font-size: 0.7em;
    font-weight: normal;
}

header a {
    display: flex;
    text-decoration: none;
    color: #fff;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 40px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--secondary-color);
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 16px;
width: 16px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #1f1f1e;
}

input:focus + .slider {
box-shadow: 0 0 1px #1f1f1e;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
  
.navigation {
    position: relative;
}

nav {
    display: none;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    width: 100%;
}

.navigation.open nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    width: 150px;
    top: 95%;
    left: 0;
    width: 100%;
    /* background-color: var(--primary-color); */
    background-color: rgba(97, 120, 96, 0.85);
    border-radius: var(--radius);
    z-index: 1;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
    text-align: right;
}

#menu-btn {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--accent1-color);
}

nav a:hover {
    background-color: #ab6136;
    color: white;
}

#banner {
    position: relative;
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 30px;
}

#banner span {
    text-decoration: underline;
}

#banner-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: var(--accent2-color);
    text-decoration: none;
}

.hidden {
    display: none;
}

#hero-box picture {
    width: 100%;
}

#hero-box img {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
}

#hero {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
    margin-top: 20px;
}

#hero-msg {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    transition: opacity 0.5s ease;
}

.home-title {
    display: none;
}

h1 {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 1.5em;
    line-height: 1.2em;
}

.join {
    background-color: rgba(97, 120, 96, 0.85);
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.join:hover {
    background-color: #ab6136;
}

main {
    margin: 15px 30px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: smaller;
}

.event-card,
.weather-card {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

h3 {
    margin: 0 auto;
}

.event-card p,
.spotlights p {
    margin: 7px 0;
    font-size: .8em;
}

/* .weather-card {
    display: grid;
    grid-template-columns: 1fr 5fr;
} */

#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: .5rem;
}

#forecast p {
    margin: 0;
    font-size: .8em;
}

.weather-details-wrapper {
    text-align: center;
    /* border-left: 1px solid var(--primary-color); */
}

.icon-and-temp {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.spotlights {
    background-color: var(--secondary-color);
    grid-column: 1/2;
    border-radius: var(--radius);
    padding: 20px;
    box-shadow: var(--shadow);
}

.spotlights h4 {
    margin: 0;
    font-weight: bold; 
    white-space: nowrap;
}

.spotlights h3 {
    grid-row: 1/2;
}

.spotlight-card {
    background-color: #fff;
    padding: 15px;
    margin-top: 20px;
    grid-row: 2/3;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.event-card p:last-child,
.spotlight-card p:last-child {
    text-decoration: underline;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
    font-size: .8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.subpage-heading {
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--accent2-color);
    font-size: 1.5em;
    color: var(--accent4-color-dark);
}

/******* dark mode *******/

body.dark {
    background-color: var(--accent1-color-dark);
    color: var(--accent2-color-dark);
}

.dark header, 
.dark footer {
    background-color: var(--primary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark nav a:hover {
    background-color: var(--accent4-color-dark);
}

.dark .navigation.open nav {
    background-color: rgba(54, 59, 48, 0.9);
}

.dark #banner {
    background-color: var(--secondary-color-dark);
}

.dark #banner-btn {
    color: var(--accent2-color-dark);
}

.dark #hero {
    box-shadow: 0px 5px 18px -4px rgba(0, 0, 0, 0.7);
}

.dark .join {
    background-color: var(--accent4-color-dark);
    box-shadow: 0px 5px 18px -4px rgba(0, 0, 0, 0.7);
}

.dark .join:hover {
    background-color: var(--primary-color-dark);
}

.dark .event-card,
.dark .weather-card {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark p,
.dark ul {
    color: var(--accent3-color-dark);
}

.dark .spotlights {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark .spotlight-card {
    background-color: var(--accent1-color-dark);
}

.dark header, .dark footer {
    background-color: #3c423b;
}

.dark .subpage-heading {
    color: var(--accent3-color-dark);
    border-bottom: 1px solid var(--accent3-color-dark);
}


/**************** Discover Page ****************/
.discover-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}

.sidebar {
    grid-column: 1/2;
    margin-bottom: 20px;
    font-size: .8rem;
}

.discover {
    align-items: center;
    grid-column: 1/2;
}

figure {
    margin: 0;
    max-width: 100%;
    margin-bottom: 20px;
}

.welcome-card,
.about-card,
.demographics-card,
.districts-card {
    background-color: var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.demographics-card img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
}

.districts-card span {
    font-weight: bold;
}

.discover figure img {
    max-width: 100%;
    height: auto;
    box-shadow: var(--shadow);
}

figcaption {
    text-align: center;
    font-size: .8rem;
}

.dark .welcome-card,
.dark .about-card,
.dark .demographics-card,
.dark .districts-card {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark .districts-card span {
    color: var(--accent2-color-dark);
}

.dark figcaption {
    color: var(--accent3-color-dark);
}

.dark .discover figure img {
    box-shadow: var(--shadow-dark);
}


/**************** Directory Page ****************/
.directory-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.directory-btn button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 13px;
    border: none;
    border-radius: var(--radius);
    font-size: 1.5rem;
}

.directory-btn button:hover {
    cursor: pointer;
}

.grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 20px;
	align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
}

.grid section h3 {
    display: none;
}

.grid section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    padding: 2rem;
    height: 250px;
}

.grid section p,
.grid section a {
    margin: 10px 0;
}

.member-card img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.list {
	display: flex;
	flex-direction: column;
    margin-top: 30px;
}

.list section {
	display: block;
    padding: 30px;
    align-items: center;
}

.list section img {
	display: none;
}

.list section:nth-child(odd) {
	background-color: var(--secondary-color);
}

.dark .directory-btn button {
    background-color: var(--secondary-color-dark);
    color: var(--accent3-color-dark);
    border: none;
}

.dark .grid section {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark .list section:nth-child(odd) {
    background-color: var(--secondary-color-dark);
}

.dark .grid section a,
.dark .list section a {
    color: #ab6136;
}


/**************** Join Page ****************/

.join-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}

.form {
    grid-column: 1/2;
    margin-bottom: 20px;
}

.memberships {
    grid-column: 1/2;
}

form {
    background-color: var(--secondary-color);
    border-radius: var(--radius);
    max-width: 500px;
    padding: 1rem 2rem;
    display: flex;
	flex-direction: column;
    text-align: left;
    box-shadow: var(--shadow);
}

form label.top,
form div.top {
    margin-top: .5rem;
    font-size: 1rem;
}

form label.top input,
form label.top textarea {
    display: flex;
	flex-direction: column;
    width: 90%;
    padding: .75rem;
    border-radius: var(--radius);
    font-size: var(--font-size);
    color: var(--accent2-color);
    border: none;
    outline: none;
}

form label.top input::placeholder {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

form label.radio {
    margin-left: 15px;
}

#description {
    height: 100px;
}

form .submitBtn {
    border: none;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-size: 1.2rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 1rem 1.5rem;
    margin: 2rem auto;
}  

form .submitBtn:hover {
    background-color: var(--primary-color-dark);
    cursor: pointer;
}

.memberships {
    font-size: 1rem;
}

.memberships-card {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: var(--radius);
}

.price {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    width: 100px;
    text-align: center;
}

.dark form {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark form label.top input,
.dark form label.top textarea {
    color: var(--secondary-color-dark);
}

.dark form .submitBtn {
    background-color: var(--accent4-color-dark);
}

.dark form .submitBtn:hover {
    background-color: var(--accent1-color-dark);
}

.dark .memberships-card {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark form label.top,
.dark form div.top {
    color: var(--accent3-color-dark);
}

.dark .price {
    background-color: var(--accent4-color-dark);
}
