@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --primary-color: #617860;
    --secondary-color: #bec5be;
    --accent1-color: #ebebeb;
    --accent2-color: #2c2c2b;

    --primary-color-dark: #363b30;
    --secondary-color-dark: #2e2f2c;
    --accent1-color-dark: #1d2019;
    --accent2-color-dark: #fff;
    --accent3-color-dark: #c8cdbf;
    --accent4-color-dark: #444f38;
  
    --heading-font: "Montserrat";
    --paragraph-font: "Assistant", Helvetica, sans-serif;

    --shadow: 0px 5px 18px -4px rgba(26, 30, 29, 0.65);
    --shadow-dark: 0px 5px 18px -4px rgba(0, 0, 0, 0.5);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
    margin: 10px;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 20px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

#logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.logo-title-wrapper {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    margin-top: -5px;
    font-size: 0.7em;
    font-weight: normal;
}

header a {
    display: flex;
    text-decoration: none;
    color: #fff;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 40px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1f1f1e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1f1f1e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  



.navigation {
    position: relative;
}

nav {
    display: none;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    width: 100%;
}

.navigation.open nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    width: 150px;
    top: 95%;
    left: 0;
    width: 100%;
    /* background-color: var(--primary-color); */
    background-color: rgba(97, 120, 96, 0.85);
    border-radius: 5px;
    z-index: 1;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
    text-align: right;
}

#menu-btn {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--accent1-color);
}

nav a:hover {
    background-color: #ab6136;
    color: white;
}

#hero-img {
    width: 100%;
    border-radius: 5px;
}

#hero {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

#hero-msg {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
}

.home-title {
    display: none;
}

h1 {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 1.5em;
    line-height: 1.2em;
}

.join {
    background-color: rgba(97, 120, 96, 0.85);
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.join:hover {
    background-color: #ab6136;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 15px;
    font-size: smaller;
}

.event-card,
.weather-card {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.event-card h3,
.weather-card h3,
.spotlights h3 {
    margin: 0 auto;
}

.event-card p,
.weather-card p,
.spotlights p {
    margin: 7px 0;
    font-size: .8em;
}


.spotlights {
    background-color: var(--secondary-color);
    grid-column: 1/2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: var(--shadow);
}

.spotlights h4 {
    margin: 0;
    font-weight: bold; 
    white-space: nowrap;
}

.spotlights h3 {
    grid-row: 1/2;
}

.spotlight-card {
    background-color: #fff;
    padding: 15px;
    margin-top: 20px;
    grid-row: 2/3;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
    font-size: .7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
}


/******* dark mode *******/

body.dark {
    background-color: var(--accent1-color-dark);
    color: var(--accent2-color-dark);
}

.dark header, 
.dark footer {
    background-color: var(--primary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark nav a:hover {
    background-color: var(--accent4-color-dark);
}

.dark .navigation.open nav {
    background-color: rgba(54, 59, 48, 0.9);
}

.dark #hero {
    box-shadow: 0px 5px 18px -4px rgba(0, 0, 0, 0.7);
}

.dark .join {
    background-color: var(--accent4-color-dark);
    box-shadow: 0px 5px 18px -4px rgba(0, 0, 0, 0.7);
}

.dark .join:hover {
    background-color: var(--primary-color-dark);
}

.dark .event-card,
.dark .weather-card {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark .event-card p,
.dark .weather-card p,
.dark .spotlights p {
    color: var(--accent3-color-dark);
}

.dark .spotlights {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

.dark .spotlight-card {
    background-color: var(--accent1-color-dark);
}

.dark header, .dark footer {
    background-color: #3c423b;
}


/**************** Discover Page ****************/
.discover-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 15px;
    margin-top: 40px;
    font-size: smaller;
}

.discover-grid h1 {
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.discover {
    align-items: center;
}

figure {
    max-width: 100%;
    margin-bottom: 20px;
}

.discover img {
    max-width: 100%;
    height: auto;
    box-shadow: var(--shadow);
}

.welcome-card,
.about-card,
.demographics-card {
    background-color: var(--secondary-color);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.welcome-card h3,
.about-card h3,
.demographics-card h3 {
    margin: 0 auto;
}

.demographics-card img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}