/* Tablet Views ******************************/
@media only screen and (min-width: 768px) {
    body {
        margin: 15px;
    }

    header {
        padding: 0 35px;
        height: 100px;
    }

    header a {
        display: flex;
        text-decoration: none;
        color: #fff;
    }

    #menu-btn {
		display: none;
	}

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: static;
    }

    nav a {
        padding: 20px;
    }
    
    nav a:hover {
        background-color: #ab6136;
        color: white;
    }

    #hero {
        position: relative;
        margin: 10px 30px;
        align-items: left;
    }

    .home-title {
        display: flex;
    }

    #hero-msg {
        position: absolute;
        bottom: 80px;
        left: 40px;
        transform: none;
    }

    .join {
        background-color: var(--primary-color);
        padding: 10px 25px;
        font-size: .9rem;
    }

    .home-grid {
        display: grid;
        margin: 15px 35px;
        font-size: 1rem;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
    }

    .event-card {
        padding: 20px;
        grid-column: 1/2;
    }

    .weather-card {
        padding: 20px;
        grid-column: 2/3;
    }

    .spotlights {
        padding: 0;
        grid-column: 1/3;
    }

    .spotlights h3 {
        display: none;
    }

    .spotlight-card {
        margin: 30px 50px;
        padding: 20px;
    }

    footer {
        padding: 25px 50px;
        margin-top: 30px;
        font-size: 1.1rem;
    }

    /**************** Discover Page ****************/
    .discover-grid {
        grid-template-columns: 1fr 2fr;
        gap: 2.5rem;
    }

    .discover-grid h1 {
        grid-column: 1/3;
        margin-bottom: 0;
    }
    
    .sidebar {
        grid-column: 1/2;
    }

    .discover {
        grid-column: 2/3;
    }

    .discover-grid h1 {
        font-size: 2.5rem;
    }

    .discover figure img {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .discover figure img:hover {
        opacity: .7;
    }

    /**************** Discover Page ****************/
    
    .join-grid h1 {
        grid-column: 1/3;
        margin-bottom: 0;
    }

    .form {
        display: flex;
        justify-content: center;
    }

    form {
        width: 80%;
        margin-top: 2rem;
    }

}