@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,200&display=swap');

:root {
    --primary-color: #414250;
    --secondary-color: #dce7ed;
    --accent-color-1: #5a7587;
    --accent-color-2: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: auto;
    padding: 0;
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding: .7rem;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav ul {
    background-color: var(--accent-color-1);
    list-style: none;
    font-size: 1.2rem;
    font-weight: normal;
}

nav ul li {
    padding: 1.3rem 0;
}

nav ul li:hover {
    background-color: #4b6573;
}

nav ul li a {
    text-decoration: none; 
    color: var(--accent-color-2);
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

h2 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 1rem;
}

.card {
    background-color: var(--accent-color-2);
}

.card h3 {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    padding: 10px 0 10px 0;
    margin-top: 0;
    font-size: 1.5rem;
}

.card ul {
    list-style: none;
    padding: 1rem;
}

.card ul li {
    text-align: left;
    padding: .5rem 0;
    padding-left: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.card ul li:hover {
    background-color: var(--secondary-color);
}

.card ul li a {
    color: var(--primary-color);
    font-weight: normal;
}

.card ul li a:hover {
    color: var(--accent-color-1); 
}

#information {
    padding: 1rem;
}

#information p {
    padding: .5rem 0;
    font-size: 1.2rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    padding: 3rem 0;
    font-weight: 200;
}

footer p {
    vertical-align: middle;
}

footer img {
    width: 25px;
    margin-left: 5px;
    vertical-align: middle;
}

#lastModified {
    font-size: 1rem;
    padding-top: 1rem;
}