@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,200&display=swap');

:root {
    --primary-color: #131b23;
    --secondary-color: #e9f1f7;
    --accent-color-1: #2d5c7b;
    --accent-color-2: #c0d3d8;
    --accent-color-3: #202b36;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(164,199,208);
    background: linear-gradient(9deg, rgba(164,199,208,1) 0%, rgba(192,211,216,1) 52%, rgba(244,244,244,1) 100%);
    color: var(--primary-color);
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: auto;
    padding: 0;
    text-align: center;
}

header {
    background-color: var(--accent-color-1);
    color: var(--secondary-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 1.5rem;
}

header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

nav ul {
    background-color: var(--primary-color);
    list-style: none;
    font-size: 1.2rem;
    font-weight: normal;
}

nav ul li {
    padding: 1.3rem 0;
}

nav ul li:hover {
    background-color: var(--accent-color-3);
}

nav ul li a {
    text-decoration: none; 
    color: var(--secondary-color);
}

main {
    max-width: 1300px;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

h2 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 1rem;
}

.card {
    background-color: var(--secondary-color);
}

.card h3 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 0 10px 0;
    margin-top: 0;
    font-size: 1.5rem;
}

.card ul {
    list-style: none;
    padding: 1rem;
}

.card ul li {
    text-align: left;
    padding: .5rem 0;
    padding-left: 30px;
    font-weight: bold;
}

.card ul li:hover {
    background-color: var(--accent-color-2);
}

.card ul li a {
    color: var(--primary-color);
    font-weight: normal;
}

.card ul li a:hover {
    color: var(--accent-color-3); 
}

#information {
    padding: 1rem;
}

#information p {
    padding: .5rem 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 3rem 0;
    font-weight: 200;
}

footer p {
    vertical-align: middle;
}

footer img {
    width: 25px;
    margin-left: 5px;
    vertical-align: middle;
}

#lastModified {
    color: var(--accent-color-2);
    font-size: 1rem;
    font-style: italic;
    padding-top: 1rem;
}