@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
    --primary-color: #414250;
    --secondary-color: #dce7ed;
    --placeholder-color: #bdc3c7;
    --accent-color-1: #5a7587;
    --accent-color-2: #fff;
    --font-size: 1rem;
    --border-radius: .7rem;
}

* {
    margin: 0;
    padding: 0;
}

/* Mobile Views ******************************/

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1rem;
    margin: auto;
    padding: 0;
    text-align: center;
    min-height: 100%;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0 auto;
    padding: 15px 2rem;
}

h1 {
    font-size: 2rem;
    margin: 0.67em 20px;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 15px;
}

#menu {
	display: flex;
    justify-content: center;
    text-align: center;
    min-width: 60px;
    font-size: 3rem;
	text-decoration: none;
	background-color: transparent;
	color: var(--accent-color-2);
}

nav {
    background-color: var(--accent-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .active::before {
	content: '|';
	color: #8ca6b7;
}

nav .active::after {
	content: "|";
	color: #8ca6b7;
}

nav ul {
    display: none;
    flex-direction: column;
    list-style: none;
    font-size: 1.2rem;
    font-weight: normal;
    padding: 15px 2rem;
}

nav ul li {
    
    padding: .5rem 0;
}

nav ul li:hover {
    background-color: #4b6573;
}

nav .open {
    display: flex;
}

nav ul a {
    text-decoration: none; 
    color: var(--accent-color-2);
    padding: 0 5px;
}

main {
    padding: 1.3rem;
    margin: 1rem auto;
    max-width: 600px;
}

main p {
    margin-top: 1rem;
}

form {
    background-color: var(--accent-color-2);
    border-radius: var(--border-radius);
    margin-top: 1rem; 
    padding: 1rem;
    display: flex;
	flex-direction: column;
    text-align: left;
    font-size: var(--font-size);
}

form label.top {
    margin-top: 1rem;
}

form label.top input {
    display: flex;
	flex-direction: column;
    width: 93%;
    padding: .75rem;
    font-size: var(--font-size);
}

form label.top input::placeholder {
    color: var(--placeholder-color);
}

#rangevalue {
    font-size: 1.5rem;
    text-align: left;
}

#rangevalues {
    display: flex;
    width: 108%;
}

form input#range {
    accent-color: var(--accent-color-1);
    width: 100%;
    margin: 1px auto;
}

#rangevalues option {
	flex: 1 1 auto;
    margin-left: 6px;
}

form input.submitBtn {
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    padding: 1rem .2rem;
    margin: 2rem auto;
    width: 100%;
}  

form input.submitBtn:hover {
    background-color: var(--accent-color-1);
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    padding: 3rem 0;
    font-size: 1rem;
    font-weight: 200;
}

footer p {
    vertical-align: middle;
}

footer img {
    width: 25px;
    height: 17px;
    margin-left: 5px;
    vertical-align: middle;
}

#lastModified {
    font-size: .8rem;
    padding-top: .8rem;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    
    h1 {
        font-size: 3rem;
    }

    header {
        gap: 1rem;
    }

    header img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #menu {
		display: none;
	}
    
    nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding: 0 3rem;
    }

	nav ul li {
        display: block;
        padding: 1.5rem 1rem;
	}

    form {
        padding: 1rem 3rem;
    }

    form label.top input {
        width: 95%;
    }

    form input.submitBtn {
        width: 50%;
    } 
}

/* Desktop Views ****************************/
@media only screen and (min-width: 1024px) {
    nav ul {
		display: flex;
        width: 750px;
	}

	nav ul li {
		flex: 1 1 100%;
	}


    footer {
        font-size: 1.2rem;
    }

    #lastModified {
        font-size: 1rem;
    }

    nav {
        gap: 10px;
    }
}