@media (min-width: 927px) {
	nav ul {
		display: flex;
        padding: 0 13rem;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    main {
        grid-template-columns: 1fr .5fr;
    }
    h2 {
        grid-column: 1/3;
    }
}

